{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}

<hgroup>
  <h1>Hey, Welcome!</h1>
  <h3>We get you the best products</h3>
</hgroup>

<blockquote>
  "Best ever"
  <footer>
    <cite>- Phasellus eget lacinia</cite>
  </footer>
</blockquote>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th>{{product.id}}</th>
      <th>{{product.name}}</th>
      <th>${{product.price}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button>Hello</button>
{% endblock %}
