{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}
<header>
  <nav>
    <ul>
      <li><strong>Brand</strong></li>
    </ul>
    <ul>
      <li><a href="/" data-tooltip="Tooltip">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
<hgroup>
  <h1>Hello this is the home page</h1>
  <h3>This is test y'all</h3>
</hgroup>
<a href="/about">Hello</a>
<article>
  <div class="grid">
    <p>hello</p>
    <p>hello</p>
  </div>
</article>
<p>hello y'all</p>

<button>Hello</button>

<blockquote>
  "Best ever"
  <footer>
    <cite>- Phasellus eget lacinia</cite>
  </footer>
</blockquote>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th>as</th>
      <th data-tooltip="beyond your imagination">df</th>
      <th>#d</th>
      <th>dd</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>#</th>
      <th>as</th>
      <th>df</th>
      <th>#d</th>
      <th>dd</th>
    </tr>
    <tr>
      <th>#</th>
      <th>as</th>
      <th>df</th>
      <th>#d</th>
      <th>dd</th>
    </tr>
  </tbody>
</table>
{% endblock %}
